Package: loja-roupas
Version: 1.0.3
Section: office
Priority: optional
Architecture: all
Depends: nodejs, npm
Maintainer: Paulo Anderson <solucoes.magic.ti@gmail.com>
Description: Sistema de aluguel de roupas
 Sistema completo para gerenciamento de aluguel de roupas.

